<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xl-12">
      <% if current_user.can_manage_request %>
        <%= render "request_cycle" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-xl-12">
      <% if current_user.can_manage_device %>
        <%= render "device_cycle" %>
      <% end %>
    </div>
  </div>
</div>
