<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
  </aside>
</div>
<div class="row">
  <h2><%= link_to t("dashboard.request.go_to_request"),  requests_path %></h2>
</div>
