<% if @requests.present? && @requests.any? %>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><span><%= t "dashboard.latest_request" %></span></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= render "grid_request_dashboard" %>
      </div>
    </div>
  </div>
<% end %>
<% if current_user.can_manage_device && @device_categories.present? &&
    @device_categories.any? %>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><span><%= t "dashboard.hot_device_category" %></span></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= render "grid_device_dashboard" %>
      </div>
    </div>
  </div>
<% end %>
