<table class="table table-hover" style="table-layout: fixed;">
  <thead>
    <tr>
      <th class="width-30"><%= t "device_manager.header.date_time" %></th>
      <th><%= t "device_manager.header.description" %></th>
    </tr>
  </thead>
</table>
