<div class="row">
  <%= search_form_for @search, url: device_history_index_path, id: "form-submit" do |f| %>
    <div class="row padding-left-1">
      <div class="col-lg-2 text-right">
        <label class="form-control"><%= t "device_manager.field_label.key_search" %></label>
      </div>
      <div class="col-lg-4">
        <%= f.text_field :assignment_assignee_email_or_device_device_code_cont, class: "form-control",
          placeholder: t("device_manager.field_label.place_holder"), id: "key_search" %>
        <span id="searchclear" class="glyphicon glyphicon-remove-circle"
         onclick="clear_text_box_search();"></span>
      </div>
    </div>
  <% end %>
</div>
<br/>
<%= render "grid_history" %>
