<ul class="notificator">
  <div id="notificationContainer">
    <div ><%= t "notification.label.header" %></div>
    <div class="notifications">
      <ul id="notificationList">
        <%= render @notifications %>
      </ul>
    </div>
  </div>
</ul>
