<%= render "search_form" %>
<div class="content">
  <div class="row">
    <%= link_to t("request_manager.title_add_new"),  requests_new_path,
      class: "btn btn-primary", remote: true, data: {toggle: "modal",
      target: "#dms-popup"} %>
  </div>

  <div id="grid-device", class="grid_table">
    <%= render "grid_request" %>
  </div>
</div>
