@import 'bootstrap-sprockets';
@import 'bootstrap';

.taR{
  text-align: right;
}

td{
  max-width:1px;
  text-overflow:ellipses;
  overflow:hidden;
  White-space:no-wrap
}

.padding-top-component {
  padding-top: 10px;
}

.line_top {
  margin-top: 15px;
  border-top: 1px solid #e5e5e5;
}
.btn_add_detail {
  margin: 15px;
}
table tbody {
  color: #122748;
}
table tbody a {
  color: #80207f;
  font-style: italic;
}
table tbody tr td :focus {
  color: #80207f;
}
.grid_table {
  font-size: 14px;
}
.request_status.done {background-color: #77cc6d;}
.request_status.approved { background-color: #ef2828;}
.request_status.waitting_approve { background-color: #337ab7;  }
.request_status.cancelled { background-color: #356f64;}
.dark, .dark a {
  color: #521a1a;
}
