@import 'bootstrap-sprockets';
@import 'bootstrap';

.container {
  margin: 0px;
}
.taR{
  text-align: right;
}

.taC{
  text-align: center;
}

td{
  max-width:1px;
  text-overflow:ellipses;
  overflow:hidden;
  White-space:no-wrap
}

.padding-top-component {
  padding-top: 10px;
}

.line_top {
  margin-top: 15px;
  border-top: 1px solid #e5e5e5;
}
.btn_add_detail {
  margin: 15px;
}
table tbody {
  color: #122748;
}
table tbody a {
  color: #4286f4;
  font-style: italic;
}
table tbody tr td :focus {
  color: #80207f;
}
.grid_table {
  font-size: 14px;
}
.request_status.done {background-color: #ffffff;}
.request_status.approved { background-color: #6af76c;}
.request_status.waitting_approve { background-color: #45bef7;  }
.request_status.cancelled { background-color: #b1ddb2;}
.dark, .dark a {
  color: #521a1a;
}
label.done_label {
  margin-left: 23% !important;
}
div.done_center {
  width: 100%;
}
.btn-group {
  padding: 0px 5px;
  margin: 0px 5px;
}
.img_grid {
  width: 100px ;
}

.clearfix:after, form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.nav.child_menu > li > a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  padding: 9px; }

.toggle {
  float: left;
  margin: 0;
  padding-top: 16px;
  width: 70px; }

.toggle a {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer; }

.toggle a i {
  font-size: 26px; }

.nav.child_menu > li > a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  padding: 9px; }

.panel_toolbox {
  float: right;
  min-width: 70px; }

.panel_toolbox > li {
  float: left;
  cursor: pointer; }

.panel_toolbox > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px; }

.panel_toolbox > li > a:hover {
  background: #F5F7FA; }

.project_progress .progress {
  margin-bottom: 3px !important;
  margin-top: 5px; }

.projects .list-inline {
  margin: 0; }

.profile_title {
  background: #F5F7FA;
  border: 0;
  padding: 7px 0;
  display: -ms-flexbox;
  display: flex; }

/** bootstrap-progressbar  **/
.progress {
  border-radius: 0; }

.progress-bar-info {
  background-color: #3498DB; }

.progress-bar-success {
  background-color: #26B99A; }

.progress_summary .progress {
  margin: 5px 0 12px !important; }

.progress_summary .row {
  margin-bottom: 5px; }

.progress_summary .row .col-xs-2 {
  padding: 0; }

.progress_summary .more_info span {
  text-align: right;
  float: right; }

.progress_summary .data span {
  text-align: right;
  float: right; }

.progress_summary p {
  margin-bottom: 3px;
  width: 100%; }

.progress_title .left {
  float: left;
  text-align: left; }

.progress_title .right {
  float: right;
  text-align: right;
  font-weight: 300; }

.progress.progress_sm {
  border-radius: 0;
  margin-bottom: 18px;
  height: 10px !important; }

.progress.progress_sm .progress-bar {
  height: 10px !important; }

.dashboard_graph p {
  margin: 0 0 4px; }

ul.verticle_bars {
  width: 100%; }

ul.verticle_bars li {
  width: 23%;
  height: 200px;
  margin: 0; }

.progress.vertical.progress_wide {
  width: 35px; }

/** bootstrap-progressbar  **/

.chart p {
  padding-left: 25px;
}
.horizital_progress {
  width: 200px !important;
}
.w-100 {
  width:100%;
}
.w-37 {
  width:37%;
  padding-left: 15%;
}
.canvas {
  height: 140px;
  width: 140px;
  margin: 15px 10px 10px 0
}

@media (min-width: 768px) {
  .modal-content {
    margin: 0 9%;
  }
  a.glyphicon.glyphicon-pencil.dark {
    margin-left: -10px;
  }
  .request-action {
    min-width: 15%;
  }
  input#device_picture {
    margin-left: 5%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .w-37 {
    width: 55%;
  }

  .pull-right {
    float: none !important;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .w-37 {
    width: 50%;
  }
}
.navbar-right .dropdown-menu {
  right: inherit;
}
.pagination span, .pagination em, .pagination a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination em.current {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination span.disabled{
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
h5.list-category-size {
  background: pink;
  padding: 12px;
}
