@import 'bootstrap-sprockets';
@import 'bootstrap';

.taR{
  text-align: right;
}

.taC{
  text-align: center;
}

td{
  max-width:1px;
  text-overflow:ellipses;
  overflow:hidden;
  White-space:no-wrap
}

.padding-top-component {
  padding-top: 10px;
}

.line_top {
  margin-top: 15px;
  border-top: 1px solid #e5e5e5;
}
.btn_add_detail {
  margin: 15px;
}
table tbody {
  color: #122748;
}
table tbody a {
  color: #80207f;
  font-style: italic;
}
table tbody tr td :focus {
  color: #80207f;
}
.grid_table {
  font-size: 14px;
}
.request_status.done {background-color: #ffffff;}
.request_status.approved { background-color: #6af76c;}
.request_status.waitting_approve { background-color: #45bef7;  }
.request_status.cancelled { background-color: #b1ddb2;}
.dark, .dark a {
  color: #521a1a;
}
label.done_label {
  margin-left: 23% !important;
}
div.done_center {
  width: 100%;
}
.btn-group {
  padding: 0px 5px;
  margin: 0px 5px;
}
.img_grid {
  width: 100px ;
}
