.container {
  padding: 0px;
  background: #F7F7F7;
}
body {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
  .container.body .right_col {
    background: #F7F7F7;
  }
}
footer {
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  padding: 15px 20px;
  margin-left: 230px;
  display: block; }
.nav_menu {
  float: left;
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  margin-bottom: 10px;
  width: 100%;
  position: relative; }
.nav-sm .main_container .top_nav {
  display: block;
  margin-left: 70px;
  z-index: 2; }
.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background: #D9DEE4; }
.main_container .top_nav {
  display: block;
  margin-left: 230px; }
.top_nav .navbar-right {
  margin: 0;
  width: 70%;
  float: right; }

.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  position: static; }
@media (min-width: 480px) {
  .top_nav .navbar-right li {
    position: relative; } }
.top_nav .dropdown-menu li {
  width: 100%; }

.top_nav .dropdown-menu li a {
  width: 100%;
  padding: 12px 20px; }

.top_nav li a i {
  font-size: 15px; }
.site_title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
  padding-left: 10px; }

.site_title:hover, .site_title:focus {
  text-decoration: none; }
.site_title i {
  border: 1px solid #EAEAEA;
  padding: 5px 6px;
  border-radius: 50%; }
.right_col col-lg-9 {
  padding-left: 0px !important;

}
.left_col {
  background: #2A3F54;
  padding-left: 0px !important;
  width: 230px;
  min-height: 1647px;
}
.sidebar-footer {
  bottom: 0px;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;
  background: #2A3F54;
}
.sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  background: #172D44;
}
.sidebar-footer a:hover {
  background: #425567;
}
.nav-md .container.body .col-md-3.left_col {
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
}
.nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px;
}
a.user-profile {
  color: #5E6974 !important;
}
.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile_pic {
  width: 35%;
  float: left;
}
.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left;

}
.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}
.profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300;
  text-align: left;
}

#form_login {
  position: absolute;
  margin-right: 15px;
  width: 300px;
  right: 0px;
  top: 50px;
  text-align: center;
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  border-color: #FDFFED;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  z-index: 1;

}
.img-circle.profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.menu_section {
  margin-bottom: 35px; }

.menu_section h3 {
  padding-left: 23px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 1px 1px #000; }

.menu_section > ul {
  margin-top: 10px; }

.navbar {
  margin-bottom: 0; }

.navbar-header {
  background: #34495E; }

.navbar-right {
  margin-right: 0; }

.top_nav .navbar-right {
  margin: 0;
  width: 70%;
  float: right; }

.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  position: static; }

@media (min-width: 480px) {
  .top_nav .navbar-right li {
    position: relative; } }
.top_nav .dropdown-menu li {
  width: 100%; }

.top_nav .dropdown-menu li a {
  width: 100%;
  padding: 12px 20px; }

.top_nav li a i {
  font-size: 15px; }

.navbar-static-top {
  position: fixed;
  top: 0;
  width: 100%; }

.sidebar-header {
  border-bottom: 0;
  margin-top: 46px; }

.sidebar-header:first-of-type {
  margin-top: 0; }

.nav.side-menu > li {
  position: relative;
  display: block;
  cursor: pointer; }

.nav.side-menu > li > a {
  margin-bottom: 6px; }

.nav.side-menu > li > a:hover {
  color: #F2F5F7 !important; }

.nav.side-menu > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background: transparent; }

.nav.child_menu {
  display: none; }

.nav.child_menu li:hover,
.nav.child_menu li.active {
  background-color: rgba(255, 255, 255, 0.06); }

.nav.child_menu li {
  padding-left: 36px; }

.nav-md ul.nav.child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%; }

.nav-md ul.nav.child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0; }

.nav.side-menu > li > a, .nav.child_menu > li > a {
  color: #E7E7E7;
  font-weight: 500; }

.nav.child_menu li li:hover,
.nav.child_menu li li.active {
  background: none; }

.nav.child_menu li li a:hover,
.nav.child_menu li li a.active {
  color: #fff; }

.nav > li > a {
  position: relative;
  display: block;
  padding: 13px 15px 12px; }

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
  border-right: 5px solid #1ABB9C; }

.nav li.current-page {
  background: rgba(255, 255, 255, 0.05); }

.nav li li li.current-page {
  background: none; }

.nav li li.current-page a {
  color: #fff; }

.nav.side-menu > li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: linear-gradient(#334556, #2C4257), #2A3F54;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; }

.navbar-brand, .navbar-nav > li > a {
  font-weight: 500;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 32px; }
.nav.navbar-nav > li > a {
  color: #515356 !important; }

.nav.top_menu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #34495E !important; }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent; }

.nav.child_menu > li > a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  padding: 9px; }

.pagination {
  float: right;
}
.content {
  padding: 10px;
  .btn.btn-primary {
    margin-left: 10px;
  }
}

.width-45 {
  width: 45%;
}

.width-3 {
  width: 3%;
}

.width-37 {
  width: 37%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.width-15 {
  width: 20%;
}

.padding-right-3 {
  padding-right: 3%;
}

.padding-left-3 {
  padding-left: 3%;
}

.padding-left-1 {
  padding-left: 1%;
}

#assignment-detail td {
  overflow: visible !important;
}

.margin-left-0 {
  margin-left: 0
}

.line-height-55{
  line-height: 55px;
}

.un-read{
  background-color: #edf2fa;
}

.diplay-none{
  display: none;
}

.font-size-20{
  font-size: 20px;
}
body .modal {
  width: 70%;
  margin-left: 15%;
}

#table-show td{
  vertical-align: middle;
}

.over-follow-visible{
  overflow: visible;
}
/* iCheck plugin Flat skin, green
----------------------------------- */
.icheckbox_flat-green,
.iradio_flat-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-green {
    background-position: 0 0;
}
.icheckbox_flat-green.checked {
    background-position: -22px 0;
}
.icheckbox_flat-green.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-green.checked.disabled {
    background-position: -66px 0;
}

.iradio_flat-green {
    background-position: -88px 0;
}
.iradio_flat-green.checked {
    background-position: -110px 0;
}
.iradio_flat-green.disabled {
    background-position: -132px 0;
    cursor: default;
}
.iradio_flat-green.checked.disabled {
    background-position: -154px 0;
}
.action {
  width: 300px;
}
/** jQuery Smart Wizard  **/
.form_wizard .stepContainer {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 solid #CCC;
  overflow-x: hidden; }

.wizard_horizontal ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 0 20px; }

.wizard_horizontal ul.wizard_steps li {
  display: table-cell;
  text-align: center; }

.wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_horizontal ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 4px;
  background: #ccc;
  top: 20px;
  width: 100%;
  z-index: 4;
  left: 0; }

.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_horizontal ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_horizontal ul.wizard_steps li a.selected:before, .step_no {
  background: #34495E;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
  background: #1ABB9C;
  color: #fff; }

.wizard_horizontal ul.wizard_steps li:first-child a:before {
  left: 50%; }

.wizard_horizontal ul.wizard_steps li:last-child a:before {
  right: 50%;
  width: 50%;
  left: auto; }

.wizard_verticle .stepContainer {
  width: 80%;
  float: left;
  padding: 0 10px; }

.actionBar {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 5px;
  text-align: right;
  margin-top: 10px; }

.actionBar .buttonDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.actionBar a {
  margin: 0 3px; }

.wizard_verticle .wizard_content {
  width: 80%;
  float: left;
  padding-left: 20px; }

.wizard_verticle ul.wizard_steps {
  display: table;
  list-style: none;
  position: relative;
  width: 20%;
  float: left;
  margin: 0 0 20px; }

.wizard_verticle ul.wizard_steps li {
  display: list-item;
  text-align: center; }

.wizard_verticle ul.wizard_steps li a {
  height: 80px; }

.wizard_verticle ul.wizard_steps li a:first-child {
  margin-top: 20px; }

.wizard_verticle ul.wizard_steps li a, .wizard_verticle ul.wizard_steps li:hover {
  display: block;
  position: relative;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  color: #666; }

.wizard_verticle ul.wizard_steps li a:before {
  content: "";
  position: absolute;
  height: 100%;
  background: #ccc;
  top: 20px;
  width: 4px;
  z-index: 4;
  left: 49%; }

.wizard_verticle ul.wizard_steps li a.disabled .step_no {
  background: #ccc; }

.wizard_verticle ul.wizard_steps li a .step_no {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 5px;
  font-size: 16px;
  text-align: center;
  position: relative;
  z-index: 5; }

.wizard_verticle ul.wizard_steps li a.selected:before, .step_no {
  background: #34495E;
  color: #fff; }

.wizard_verticle ul.wizard_steps li a.done:before, .wizard_verticle ul.wizard_steps li a.done .step_no {
  background: #1ABB9C;
  color: #fff; }

.wizard_verticle ul.wizard_steps li:first-child a:before {
  left: 49%; }

.wizard_verticle ul.wizard_steps li:last-child a:before {
  left: 49%;
  left: auto;
  width: 0; }

.form_wizard .loader {
  display: none; }

.form_wizard .msgBox {
  display: none; }

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
/** jQuery Smart Wizard  **/
